{% extends 'base.html.twig' %}

{% block title %}- Articles{% endblock %}

{% block body %}
<div class="container">
    <div class="float-end">
        <a href="{{path('app_articles')}}">All articles</a>
        <div class="row">
            <ul class="list-group">
                {% for tag in tags %}
                <li class="list-group-item"><a href="{{ path('app_articles', {'tag' : tag.title }) }}">#{{tag.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        {% if articles is not empty %}
        {% for article in articles %}
        {% if article.isVisible %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card my-4">
                {% if article.image %}
                <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top"
                    alt="{{article.imageAlt}}">
                {% else %}
                <img src="{{article.imageLink}}" class="card-img-top" alt="{{article.imageAlt}}">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title"><a href="">{{article.title}}</a></h3>
                    <p class="card-text">
                        <small>
                            {% for tag in article.tags %}
                            <a href="{{ path('app_articles', {'tag' : tag.title }) }}">#{{tag.title}}</a>
                            {% endfor %}
                        </small>
                    </p>
                    <div class="row">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
                            data-layout="button_count" data-size="small">
                            <a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore">
                                Partager
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        No result found
        {% endif %}
    </div>
</div>
{% endblock %}