{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-5">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
<div class="container">
    <div class="embed-responsive embed-responsive-16by9 text-center">
        <iframe width="85%" height="550" src="https://www.youtube.com/embed/sNlWakWKWb4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
</div>
<div class="container-fluid mt-5">
    <main role="main" class="inner cover">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 mx-auto">
                <div class="bio-col p-3">
                    <div class="avatar mx-auto">
                        {% if bio.image %}
                        <img src="{{ vich_uploader_asset(bio, 'imageFile') }}" class="profile" alt="{{bio.imageAlt}}">
                        {% else %}
                        <img src="{{bio.imageLink}}" alt="Alice Pfeiffer portrait" class="profile">
                        {% endif %}
                    </div>
                    <p><i class="fab fa-instagram color-framboise"></i></p>
                    <h4 class="color-framboise text-left">Bio</h4>
                    <p class="text-left">{{bio|raw}}</p>
                    <p class="pt-4">
                        <a href="{{path('app_contact')}}" class="btn-neutral">CONTACT</a>
                    </p>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 line-black">
                <div class="row">

                    <div class="col-auto pl-5">
    
                        <h2 class="title-rectangle">Derniers posts publiés</h2>
    
                    </div>
                    
                </div>
                <div class="row ml-5">
                    {% for post in posts %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10">
                        <div class="card">
                            <img class="card-img-top"
                                src="https://i.postimg.cc/nVdHhGs1/clem-onojeghuo-Hp-EDSZuk-Jqk-unsplash.jpg"
                                alt="{{post.title}}">
                            <div class="card-body">
                                <h4 class="card-title"></h4>
                                <h3 class="card-text">{{post.title}}</h3>
                                <p>Alice P. </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}