{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-5">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading">Alice Pfeiffer</h1>
        <p class="lead">{{bio|raw}}</p>
        {% if bio.image %}
        <img src="{{ vich_uploader_asset(bio, 'imageFile') }}" class="img-fluid"
                    alt="{{bio.imageAlt}}">
        {% else %}
        <img src="{{bio.imageLink}}" alt="Alice Pfeiffer portrait" class="img-fluid">
        {% endif %}
        <p class="lead my-4">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>
{% endblock %}