{% extends 'base.html.twig' %}

{% block title %}- Press{% endblock %}

{% block body %}
<div class="container">
    <div class="float-end">
        <a href="{{path('app_press')}}">All press</a>
    </div>
    <div class="row">
        {% if presses is not empty %}
        {% for press in presses %}
        {% if press.isVisible %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card my-4">
                {% if press.image %}
                <img src="{{ vich_uploader_asset(press, 'imageFile') }}" class="card-img-top" alt="{{press.imageAlt}}">
                {% else %}
                <img src="{{press.imageLink}}" class="card-img-top" alt="{{press.imageAlt}}">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title"><a href="{{press.link}}" target="_blank">{{press.magazine}}</a></h3>
                    <p class="card-text">
                        <small>
                            {% for tag in press.tags %}
                            <a href="{{ path('app_press', {'tag' : tag.title }) }}">#{{tag.title}}</a>
                            {% endfor %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        No result found
        {% endif %}
    </div>
</div>
{% endblock %}