{% extends 'base.html.twig' %}

{% block title %}- Livres{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    {% for book in books %}
    {% if book.isVisible %}
    <main role="main" class="inner cover">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10 mx-auto">
                <img src="{{ vich_uploader_asset(book, 'imageFile') }}" class="card-img-top" alt="{{book.imageAlt}}">
            </div>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 line-black">
                <div class="row">
                    <div class="col-auto group-title-rectangle">
                        <h1 class="title-book pb-2 title-rectangle">{{book.title}}</h1>
                    </div>
                </div>
                <p>{{book.description|raw}}</p>
                <div class="text-right">
                    <p class="text-muted">Publié le {{book.publishedAt|date('d M Y')}}</p>
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
                        data-layout="button_count" data-size="small">
                        <a target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                            class="fb-xfbml-parse-ignore">
                            Partager
                        </a>
                    </div>
                </div>
                <p class="pt-4 text-center contact-design">
                    <a href="{{book.link}}" target="_blank" class="btn-neutral insta-bio">Acheter</a>
                </p>
            </div>
        </div>
    </main>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}