<div class="container p-3">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand alice-brand" href="{{path('home')}}">
                <h1>Alice Pfeiffer
                </h1>
            </a>
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {{app.request.get('_route') == 'app_posts' ? 'active' : ''}}"
                        href="{{path('app_posts')}}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{app.request.get('_route') == 'app_press' ? 'active' : ''}}"
                        href="{{path('app_press')}}">Magazines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{app.request.get('_route') == 'app_books' ? 'active' : ''}}"
                        href="{{path('app_books')}}">Livres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{app.request.get('_route') == 'app_medias' ? 'active' : ''}}"
                        href="{{path('app_medias')}}">Medias</a>
                </li>
                <li class="nav-item d-sm-block d-none">
                        <a class="nav-link {{app.request.get('_route') == 'app_contact' ? 'active' : ''}}"
                            href="{{path('app_contact')}}">Contact</a>
                </li>
                <li class="ml-5 mx-auto">
                    <form class="nav-item border-black d-flex" method="GET" action="{{ path('app_search') }}">
                        <input class="nav-link form-control transparent-input" name="q">
                        <datalist id="datalistOptions"></datalist>
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>