{% extends 'base.html.twig' %}

{% block title %}- Press{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Magazines & Articles</h1>
    <p class="line-black"></p>
    <h4>Retrouvez tous les articles d'Alice depuis 2018</h4>
    <div class="row mt-2">
        {% if presses is not empty %}
        {% for press in presses %}
        {% if press.isVisible %}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 pt-4">
            <div class="m-lg-2 m-md-0 card">
                {% if press.image %}
                <a href="{{path('app_press_show', {'slug' : press.slug })}}">
                    <img src="{{ vich_uploader_asset(press, 'imageFile') }}" class="card-img-top"
                        alt="{{press.imageAlt}}">
                </a>
                {% else %}
                <img src="{{press.imageLink}}" class="card-img-fluid" alt="{{press.imageAlt}}">
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        No result found
        {% endif %}
    </div>
</div>
{% endblock %}