{% extends 'base.html.twig' %}

{% block title %}- {{press.magazine}}{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-7 col-sm-7 mx-auto">
            <div class="sticky-col">
                <div class="mx-auto card">
                    {% if press.image %}
                    <img src="{{ vich_uploader_asset(press, 'imageFile') }}" class="card-img-top"
                        alt="{{press.imageAlt}}">
                    {% else %}
                    <img src="{{press.imageLink}}" class="card-img-top" alt="{{press.imageAlt}}">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 line-black mx-auto">
            <div class="row">
                <div class="col-auto group-title-rectangle">
                    <h2 class="title-rectangle">{{press.magazine}} </h2>
                </div>
            </div>
            <div class="row">
                {% for article in press.articles %}
                {% if article.isVisible %}
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 d-flex my-4">
                    <div class="card border-light p-2">
                        <a href="{{article.link}}" target="_blank">
                            {% if article.image %}
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top"
                                alt="{{article.imageAlt}}">
                            {% else %}
                            <img src="{{article.imageLink}}" class="card-img-top" alt="{{article.imageAlt}}">
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    {% for tag in article.tags|slice(0, 2) %}
                                    <div class="col-auto">
                                        <p class="title-tag">{{tag.title}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                                <h4 class="card-title ">{{article.title}}</h4>
                                <p class="text-muted lang-design">{{article.lang}}</span></p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}